<section>
<nav id="navbar" class="navbar navbar-dark bg-dark py-0">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link text-info" href="/products"><i class="bi bi-bag-heart-fill"></i> Products</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-info" href="/brands"><i class="bi bi-bag-heart-fill"></i> Brands</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-info" href="/categories"><i class="bi bi-bag-heart-fill"></i> Categories</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-info" href="/roles"><i class="bi bi-bag-heart-fill"></i> Roles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-info" href="/users"><i class="bi bi-bag-heart-fill"></i> Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-info" href="/orders"><i class="bi bi-bag-heart-fill"></i> Orders</a>
        </li>   
    </ul>
</nav>
</section>