body {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}
h3 {
    text-align: center;
    padding-bottom: 1rem;
}
footer {
    text-align: center;
    padding-top: 1.5rem;
    font-size: 14px;
    
}
footer p {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    color: transparent;
    background-clip: text;
}